body {
    min-width: 20rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 48rem;
    padding: 1rem;
}

.external-frame {
    background-color: lightgray;
    display: block;
}

.internal-frame {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 62rem;
    padding: 1rem;
}

.input {
    display: none;
}

.meme__container {
    overflow-x: hidden;
}

.memes {
    display: flex;
    width: 900%;
    transition: transform 0.5s;
}

.meme {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 25%;
    padding: 0.5rem;
}

#meme2:checked ~ .meme__container .memes {
    transform: translateX(calc(-1 * 25%));
}

#meme3:checked ~ .meme__container .memes {
    transform: translateX(calc(-2 * 25%));
}

#meme4:checked ~ .meme__container .memes {
    transform: translateX(calc(-3 * 25%));
}

.meme__img {
    display: block;
    object-fit: cover;
    width: 100%;
    transition: 1.5s ease-out;
}

.panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.descs__container {
    height: 3rem;
    overflow: hidden;
}

.descs {
    height: 2rem;
    overflow: hidden;
}

.desc {
    font-size: 2rem;
    line-height: 2;
    transition: 1.5s ease-out;
}

#meme2:checked ~ .panel .descs {
    transform: translateX(calc(-1 * 25%));
}

#meme3:checked ~ .panel .descs {
    transform: translateX(calc(-2 * 25%));
}

#meme1:checked ~ .panel .descs {
    transform: translateX(calc(-3 * 25%));
}

.radio-buttons {
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
    height: 3rem;
}

.button {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid rgb(31, 192, 138);
    background-color: rgb(31, 192, 138);
    transition: all 0.5s ease-out;
}